* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    color: white;
    background-color: rgb(0,0,0);
}

.page {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.left-sidebar {
    flex: 0.45;
    border-right: solid #38444D 1px;
    min-width: 70px;
}

.main {
    flex: 0.6;
    min-width: fit-content;
    z-index: 50;
    background-color: black;
}

@media screen and (max-width:700px) {
    .main {
        width: 500px;
    }
}

.main-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: black;
    border: solid #38444D 1px;
    padding: 15px 20px;
}

.home {
    font-size: 20px;
    font-weight: 700;
}

.tweet-box {
    padding-bottom: 10px;
    border-bottom: 8px solid #38444D;
}

.tweet-box form {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.tweet-box-profile-picture {
    height: 100%;
    margin-right: 15px;
}

.tweet-box-profile-picture-image {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.tweet-box-container {
    left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tweet-box-input {
    display: flex;
    padding: 8px 0 12px 0;
}

.tweet-box-input input {
    flex: 1;
    font-size: 20px;
    background-color: inherit;
    border: none;
    outline: none;
}

.tweet-box-button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.attach-file-button {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(29, 155, 240);
    border-radius: 30px;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
}

.post-tweet-button {
    background-color: rgb(29, 155, 240); /* Green */
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    padding: 10px 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}

.right-sidebar {
    flex: 0.45;
    border-left: solid #38444D 1px;
}

.post-card {
    display: flex;
    align-items: flex-start;
    width: 650px;
    min-width: 450px;
    text-decoration: none;
    background-color: black;
    z-index: 50;
    border-bottom: 1px solid #38444D;
}

.main_content_node {
    width: 100%;
    display: flex;
}

.profile_picture_node {
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    vertical-align: top;
}

.profile_picture_img_node {
    width: 35px;
    height: 35px;
    margin: 17px auto;
    display: block;
    border-radius: 50%;
}

.content_node {
    width: 85%;
    padding: 0 10px;
}

.top_content_node {
    width: 100%;
    padding-top: 10px;
    display: flex;
}

.top_content_node_display_name {
    text-decoration: none;
    color: #E7E9EA;
    font: bolder;
}

.top_content_node_username {
    padding:0 5px;
    text-decoration: none;
    font: lighter;
    color: #71767B;
}

.top_content_node_post_timestamp {
    text-decoration: none;
    color: #71767B;
}

.middle_content_node {
    width: 100%;
    text-decoration: none;
    color: white;
}

.bottom_content_node {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.bottom_content_node_element {
    width: 25%;
    text-decoration: none;
    display: flex;
    color: rgb(113, 118, 123);
}

.bottom_content_node_icon {
    margin-right: 10px;
}

.bottom_content_node_text {
    font-size: 14px;
}

.profile-card {
    background-color: #14171A;
    width: 600px;
}

.profile-header {
    background-color: rgb(51, 54, 57);
    height: 180px;
}

.profile-container {
    padding: 12px 16px 16px;
}

.profile-picture {
    margin-top: -15%;
}

.profile-picture-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #14171A;
}

.profile-display-name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 4px;
}

.profile-username {
    color: rgb(113, 118, 123);
    font-size: 15px;
    margin-bottom: 12px;
}

.profile-join-date {
    color: rgb(113, 118, 123);
    font-size: 15px;
    margin-bottom: 12px;
    display: flex;
}

.profile-join-date-icon {
    margin-right: 5px;
}

.profile-follow-container {
    display: flex;
    font-size: 14px;
}

.profile-follow {
    display: inline-flex;
    margin-right: 20px;
}

.profile-follow-count {
    margin-right: 5px;
    font-weight: 600;
}

.profile-follow-text {
    color: rgb(113, 118, 123);
}
