.right-sidebar-header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
}

.search-bar {
    margin-left: 20px;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(32, 35, 39);
    color: rgb(113, 118, 123);
}

.search-bar-input {
    margin-left: 10px;
    width:300px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgb(32, 35, 39);
}

@media screen and (max-width:1000px) {
    .right-sidebar-header {
        display: none;
    }
}