.dataInputHeader {
    text-align: center;
}

.dataInputContainer {
    gap: 2vh;
    width: 16vw;
}

.dataInputHeader h1 {
    width: 20vw;
}

@media (max-width: 768px) {
    .dataInputHeader h1 {
        width: 100%;
    }

    .dataInputContainer {
        gap: 0.5vh;
        width: 16vw;
    }

    .centerContainer {
        flex-direction: column;
    }
    
    .dataInputContainer {
        height: 50vh;
        width: 55vw;
    }

    .inputGroup {
        width: 50vw;
    }
}