body {
    margin: 0;
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
}

.centerContainer img {
    margin: 10%;
}

.dataInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;

}

.dataInputHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}